body{
	margin:0;
	padding:0;
	/*background-color: #EAF4D3;*/
	background-color: #f4f4f4;
	/*background: url('http://localhost/soccerleague/img/backgrounds/bg4.jpg');
	background-size: 100vw;*/
	font-family: 'Open Sans', sans-serif;
	font-size: 62.5%;
	overflow-x: hidden;
	height: 100%;
	scrollbar-arrow-color:#000000;
	scrollbar-3dlight-color:#000000;
	scrollbar-highlight-color:#FF0000;
	scrollbar-face-color:#333;
	scrollbar-shadow-color:#0000FF;
	scrollbar-darkshadow-color:#FFFF00;
	scrollbar-track-color:#00FF00;
}
html{
	height: 100%;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
i{
	font-style: normal;
}
div.content{
	position: relative;
	float: left;
	width: 87.5vw;
	height: 100vh;
	left: 250px;
	top:5rem;
	padding: 1rem 3rem;
}
div.menu-sidebar::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
div.menu-sidebar::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
div.menu-sidebar::-webkit-scrollbar-thumb {
    background: #dad7d7;
}



@media(max-width: 900px){
	div.content{
		transition: left 0.3s;
		left:50px;
		width: 94.5vw;
	}
}
@media(max-width: 400px){
	div.content{
		transition: left 0.3s;
		left:0;
		width: 100vw;
		padding: 0;
	}
}