<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^controllers/deployment.php$ controllers/deployment.php [NC,L]
	RewriteRule ^index\.php$ / [R=301,L]
	RewriteRule ^(.*)/index\.php$ /$1/ [R=301,L]

	RewriteRule ^api/location/([a-z0-9-]+)$ controllers/location.php?method=$1 [NC,L]
	RewriteRule ^api/location/([a-z0-9-]+)/$ controllers/location.php?method=$1 [NC,L]

	RewriteRule ^([a-z0-9-]+)/$ handler.php?request=$1 [NC,L]
	RewriteRule ^([a-z0-9-]+)$ handler.php?request=$1 [NC,L]

	RewriteRule ^club/([0-9-]+)/$ handler.php?request=club&id=$1 [NC,L]
	RewriteRule ^club/([0-9-]+)$ handler.php?request=club&id=$1 [NC,L]
	RewriteRule ^club/([0-9-]+)/([a-z0-9-]+)/$ handler.php?request=club&id=$1&subrequest=$2 [NC,L]
	RewriteRule ^club/([0-9-]+)/([a-z0-9-]+)$ handler.php?request=club&id=$1&subrequest=$2 [NC,L]

	RewriteRule ^players/([0-9-]+)/$ handler.php?request=players&id=$1 [NC,L]
	RewriteRule ^players/([0-9-]+)$ handler.php?request=players&id=$1 [NC,L]

	RewriteRule ^api/players/([0-9-]+)$ handler.php?request=players&id=$1&method=json [NC,L]
	RewriteRule ^api/players/([0-9-]+)/$ handler.php?request=players&id=$1&method=json [NC,L]

	RewriteRule ^api/tweets/([a-z0-9-]+)/([0-9-]+)/([a-z0-9-]+)$ handler.php?request=tweetapi&type=user&id=$2&method=$1&page=$3 [NC,L]
	RewriteRule ^api/tweets/([a-z0-9-]+)/([0-9-]+)/([a-z0-9-]+)/$ handler.php?request=tweetapi&type=user&id=$2&method=$1&page=$3 [NC,L]

	RewriteRule ^api/tweet/([a-z0-9-]+)/([0-9-]+)/$ handler.php?request=tweetapi&tweet&id=$2&method=$1 [NC,L]
	RewriteRule ^api/tweet/([a-z0-9-]+)/([0-9-]+)$ handler.php?request=tweetapi&tweet&id=$2&method=$1 [NC,L]

	RewriteRule ^api/tweet/([a-z0-9-]+)/$ handler.php?request=tweetapi&tweet&method=$1 [NC,L]
	RewriteRule ^api/tweet/([a-z0-9-]+)$ handler.php?request=tweetapi&tweet&method=$1 [NC,L]

	RewriteRule ^tweet/([0-9-]+)/$ handler.php?request=tweet&id=$1[NC,L]
	RewriteRule ^tweet/([0-9-]+)$ handler.php?request=tweet&id=$1[NC,L]

	RewriteRule ^tweet/user/([a-z0-9-]+)/([a-z0-9-]+)/$ handler.php?request=tweet&type=user&id=$1[NC,L]
	RewriteRule ^tweet/user/([a-z0-9-]+)/([a-z0-9-]+)$ handler.php?request=tweet&type=user&id=$1[NC,L]

	RewriteRule ^buddy/([0-9-]+)/([0-9-]+)/([a-z0-9-]+)$ handler.php?request=buddy&id=$1&id2=$2&action=$3 [NC,L]
	RewriteRule ^buddy/([0-9-]+)/([0-9-]+)/([a-z0-9-]+)/$ handler.php?request=buddy&id=$1&id2=$2&action=$3 [NC,L]

	RewriteRule ^league/([a-z0-9-]+)/([a-z0-9-]+)/([a-z0-9-]+)/$ handler.php?request=league&country=$1&div=$2&group=$3 [NC,L]
	RewriteRule ^league/([a-z0-9-]+)/([a-z0-9z0-9-]+)/([a-z0-9z0-9-]+)$ handler.php?request=league&country=$1&div=$2&group=$3 [NC,L]
 </IfModule>
 <IfModule mod_speling.c>
 CheckSpelling On
 CheckCaseOnly On
 </IfModule>

 <FilesMatch "\.(ini|cgi|htaccess|json)$">
 Order Deny,Allow
 Deny from All
 </FilesMatch>

 ErrorDocument 404 /404/
 ErrorDocument 403 /403/

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 year"
	ExpiresByType image/jpeg "access 1 year"
	ExpiresByType image/gif "access 1 year"
	ExpiresByType image/png "access 1 year"
	ExpiresByType text/css "access 1 month"
	ExpiresByType application/pdf "access 1 month"
	ExpiresByType text/x-javascript "access 1 month"
	ExpiresByType application/x-shockwave-flash "access 1 month"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresDefault "access 20 days"
</IfModule>
