<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteRule ^index\.php$ / [R=301,L]
	RewriteRule ^(.*)/index\.php$ /$1/ [R=301,L]

	RewriteRule ^$ /index [R=301,L]
	RewriteRule ^/index$ handler.php?request=index [NC,L]

  RewriteRule ^([a-z0-9-]+)/$ handler.php?request=$1 [NC,L]
	RewriteRule ^([a-z0-9-]+)$ handler.php?request=$1 [NC,L]
	RewriteRule ^([a-z0-9-]+)/([0-9-]+)$ handler.php?request=$1&id=$2 [NC,L]
	RewriteRule ^([a-z0-9-]+)/([0-9-]+)/$ handler.php?request=$1&id=$2 [NC,L]
	RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)/$ handler.php?request=$1&method=$2 [NC,L]
	RewriteRule ^([a-z0-9-]+)/([a-z0-9-]+)$ handler.php?request=$1&method=$2 [NC,L]

 </IfModule>
 <IfModule mod_speling.c>
 CheckSpelling On
 CheckCaseOnly On
 </IfModule>

 <FilesMatch "\.(ini|cgi|htaccess|json)$">
 Order Deny,Allow
 Deny from All
 </FilesMatch>

 ErrorDocument 403 /403/
 ErrorDocument 404 /404/

<IfModule mod_expires.c>
	ExpiresActive On
	ExpiresByType image/jpg "access 1 year"
	ExpiresByType image/jpeg "access 1 year"
	ExpiresByType image/gif "access 1 year"
	ExpiresByType image/png "access 1 year"
	ExpiresByType text/css "access 1 month"
	ExpiresByType application/pdf "access 1 month"
	ExpiresByType text/x-javascript "access 1 month"
	ExpiresByType application/x-shockwave-flash "access 1 month"
	ExpiresByType image/x-icon "access 1 year"
	ExpiresDefault "access 20 days"
</IfModule>
