.club-box{
  width: 100%;
  max-height: 380px;
  border: 1px solid #ddd;
  background-color: #fff;
}
.club-box .options{
  position: absolute;
  width: 380px;
  height: 50px;
  z-index: 4;
  right: 20px;
  top: 180px;
}
.club-color{
  width: 100%;
  height: 150px;
  position: relative;
}
.club-logo{
  width: 200px;
  height: 200px;
  position: relative;
  left: 20px;
  top: -120px;
  border: 5px solid #f4f4f4;
}
.club-name{
  font-size: 28px;
  color: #333;
  position: relative;
  left: 250px;
  top: -285px;
}
.club-name span{
  font-size: 12px;
}
.manager{
  position: relative;
  top: -280px;
  left:250px;
  font-size: 16px;
  color: #333;
}
.club-stats{
  width: 75%;
  height: 50px;
  position: relative;
  top: -265px;
  left: 210px;
}
.club-stats ul{
  list-style: none;
}
.club-stats ul li{
  float: left;
  font-size: 13px;
  padding: 5px 17.5px;
  border-right: 1px solid #ccc;
  text-align: center;
}
.club-stats ul li:first-child{
  padding: 5px 17.5px 5px 0;
}
.club-stats ul li:last-child{
  border: 0px;
}
.club-history{
  position: relative;
  top: -260px;
  width: 560px;
  padding: 25px;
}
.club-data{
  position: absolute;;
  top: 255px;
  left: 570px;
  width: 47.5%;
  padding: 25px;
}
.club-data ul{
  list-style: none;
  font-size: 13px;
}
.club-history p{
  display: block;
  width: 100%;
  font-size: 12px;
  text-align: left;
}
.trophies{
  min-height: 75px;
  text-align: center;
  font-size: 14px;
  padding-top: 50px;
}
