
.box-content .club{
  width: 100%;
  display: inline-block;
  padding: 20px;
}
.club-logo{
  display: inline-block;
  text-align: center;
}
.club-logo .logo{
  margin: 0 auto;
  width: 200px;
}
.club-logo .logo img{
  display: block;
  width: 200px;
  height: 200px;
  border: 5px solid #4B4F52;
  background-color: #26292B;
}
.club-info{
  /*float: left;
  width: 50%;*/
  height: 200px;
  padding: 0px 30px;
  color: #393e41;
}
.club-info h1{
  font-size: 26px;
}
.club-info .nickname{
  font-size: 18px;
}
.club-info h1,h3{
  font-weight: 300;
}
.club-info h3{
  margin-bottom: 10px;
}
.club-info h3 a{
  font-size: 12px;
}
.club-info p, .club-info a{
  font-size: 12px;
  line-height: 22px;
}
.club-options{
  padding: 0px 10px;
}
.club-options .btn{
  margin-bottom: 2.5px;
}
.country-icon{
  position: relative;
  top: 7px;
  left: 5px;
}
.box-title{
  background-color: #fff;
  color: #393E41;
}
.awards{
  text-align: center;
  padding: 10px;
}
.awards div{
  background-color: #26292b;
  /*height: 180px;*/
  padding: 5px;
}
.awards div.trophy img{
  height: 150px;
  display: inline-block;
}
.awards div.trophy-desc{
  width: 100%;
  height: 100%;
  background-color: #266659;
  color: #eee;
  font-size: 13px;
  font-weight: 300;
}
.awards div p{
  text-align: center;
  color: #fff;
  font-size: 14px;
}

.visits ul{
  list-style: none;
}
.visits ul li{
  padding: 5px 20px;
}
.visits ul li img{
  position: relative;
  top: 5px;
  margin-right: 10px;
}
.modal-search .modal-content{
  padding: 20px 40px;
}
table.club-result{
  margin-top: 20px;
}

@media (max-width: 360px) {
  .club-logo{
    margin-top: 50px;
  }
}
/**=====================
MOBILE ~~MEDIUM
=======================**/
@media (min-width: 360px) and (max-width: 600px) {
  .club-logo{
    margin-top: 10px;
  }
}
