.feed .create-content{
  padding: 20px;
  border-bottom: 1px solid #eaeaea;
}
.create-content textarea{
  border: 1px solid #eaeaea;
  margin-bottom: 5px;
}
.feed-content > p{
  font-size: 14px;
  font-weight: 300;
  text-align: center;
  padding: 10px;
}
.feed-post{
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: left;
  padding: 20px 20px;
}
.feed-post.father{
  background-color: #eee;
  padding: 30px 20px;
}
.feed-post .feed-post-logo{
  -ms-flex-preferred-size: auto;
  flex-basis: auto;
  -webkit-box-flex: 0;
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;

  width: 85px;
  height: 85px;
  background: #333;
  border-radius: 2.5px;
}
.feed-post .feed-post-content{
  flex-basis: auto;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  -ms-flex-negative: 1;
  flex-shrink: 1;
  text-align: left;
  margin-left: 10px;
}
.feed-post-content-controllers{
  float: right;
  position: relative;
  top: 2.5px;
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/cancel.png');
  background-size: cover;
  cursor: pointer;
}
.feed-post-content h4{
  font-weight: 700;
  font-size: 13px;
  color: #393E41;
  padding: 0 0 5px 0;
}
.feed-post-content h4 span{
  font-weight: 300;
  font-style: 13px;
}
.feed-post-content p{
  font-weight: 400;
  color: #393E41;
}
.feed-post-controllers{
    display: block;
    width: 100%;
    padding: 10px 0px;
    margin-top: 10px;
}
.feed-post-controllers span{
    padding: 5px;
    border: 1px solid #eee;
    border-radius: 2.5px;
}
.feed-post-controllers span:hover{
  cursor: pointer;
  background-color: #eee;
}
.feed-post-controllers span.reply i{
  display: inline-block;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/reply.png');
  background-size: cover;
}
.feed-post-controllers span.like i{
  display: inline-block;
  float: left;
  margin-right: 5px;
  width: 12px;
  height: 12px;
  background-image: url('../img/icons/like.png');
  background-size: cover;
}
.liked i{
  background-image: url('../img/icons/liked.png') !important;
}
