.topic{
  min-height: 180px;
  padding: 5px;
  border-bottom: 2px solid #eee;
}

.topic_creator{
  width: 25%;
  min-width: 180px;
  height: 170px;
  display: inline-block;
  background-color: #26292b;
  padding-top: 10px;
  position: absolute;
  border-radius: 3px;
}
.topic_creator a{
  color: #fff;
  font-size: 15px;
}
.topic_logo{
  width: 100px;
  height: 100px;
  margin: 0 auto;
}
.topic_club{
  text-align: center;
  padding: 5px;
}
.topic_content{
  width: 75%;
  display: inline-block;
  min-height: 180px;
  position: relative;
  left: 25%;
}
.topic_content p{
  padding: 2.5px 15px 5px;
  font-size: 14px;
  font-weight: 300;
}
.ft_controller{
  width: 100%;
  padding: 7.5px;
  background-color: #eee;
  text-align: right;
}
.pages{
  list-style: none;
  text-align: right;
  padding: 10px;
}
.pages li{
  display: inline-block;
  margin: 1px;
}
.pages li a{
  font-size: 14px;
  padding: 5px;
  background-color: #393e41;
  border-radius: 2px;
  color: #fff;
}
