.forum_topic{
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #eee;
  display: block;
  cursor: pointer;
}

.forum_topic:hover{
  background: #eee;
  transition: 0.3s all;
}

.topic_fixed{
  width: 5%;
  display: inline-block;
}
.topic_fixed span{
  background: #eee;
  border-radius: 2.5px;
  padding: 5px;
}
.topic_title{
  display: inline-block;
  width: 64%;
  padding-left: 20px;
}
.topic_title a{
  font-size: 16px;
  font-weight: 300;
}
.topic_title small{
  font-size: 10px;
  padding-left: 10px;
}
.topic_club{
  font-size: 13px;
  font-weight: 300;
  display: inline-block;
  width: 15%;
}
.topic_last{
  display: inline-block;
  width: 10%;
  text-align: center;
  font-size: 10px;
}
.likes{
  padding: 7px;
  border-radius: 2.5px;
  font-size: 14px;
  color: #333;
  max-width: 5%;
  text-align: center;
  display: inline-block;
}

.green{
  background-color: #7dcd85;
}
.red{
  background-color: #b44230;
  color: #fff;
}

.pages{
  list-style: none;
  text-align: right;
  padding: 10px;
}
.pages li{
  display: inline-block;
  margin: 1px;
}
.pages li a{
  font-size: 14px;
  padding: 5px;
  background-color: #393e41;
  border-radius: 2px;
  color: #fff;
}
