.row {
  position: relative;
  margin: 0 auto;
  max-width: 100%;
}
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

[class*='grid-'] {
  float: left;
  padding: 0em;
}
.center{
  text-align: center;
}
.grid-1 {
  width: 100%;
}
.grid-2 {
  width: 50%;
}
.grid-3 {
  width: 33.33333%;
}
.grid-4 {
  width: 25%;
}
.grid-5 {
  width: 20%;
}
.grid-6 {
  width: 16.66667%;
}
.grid-7 {
  width: 14.28571%;
}
.grid-8 {
  width: 12.5%;
 }
.grid-9 {
  width: 11.11111%;
}
.grid-10 {
  width: 10%;
}
.grid-11 {
  width: 9.09091%;
}
.grid-12 {
  width: 8.33333%;
}
.grid-25 {
  width: 25%;
}
.grid-20{
  width: 20%;
}
.grid-80{
  width: 80%;
}
.grid-40 {
  width: 40%;
}
.grid-60 {
  width: 60%;
}
.grid-75 {
  width: 75%;
}

/* mobile */
@media (max-width: 30em) {
  .hide-on-mobile{
    display: none;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-4,
  .grid-5,
  .grid-6,
  .grid-7,
  .grid-8,
  .grid-9,
  .grid-10,
  .grid-11,
  .grid-12,
  .grid-20,
  .grid-80{
    width: 100%;
  }
}

/* tablet */
@media (min-width: 30em) and (max-width: 50em) {
  .grid-4,
  .grid-6,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%;
  }
  .grid-1,
  .grid-2,
  .grid-3,
  .grid-5,
  .grid-7,
  .grid-9,
  .grid-11 {
    width: 100%;
  }
}

@media (min-width: 50em) and (max-width: 68.75em) {
  .grid-2,
  .grid-7 {
    width: 100%;
  }
  .grid-4,
  .grid-8,
  .grid-10,
  .grid-12 {
    width: 50%;
  }
}
