.title{
  padding-left: 35px;
}
.write{
  border: 0;
  padding-left: 25px;
}
.form-field{
  margin: 0;
}
#newtweet{
  color: #393e41;
  border: 0;
  height: 25px;
  width: 90% !important;
  font-family: 'Open Sans';
  resize: none;
  padding: 15px 20px;
}

#newtweet:focus{
  background: #fff;
  height: 70px;
  transition: .5s all;
}

.tweet-options{
  position: relative;
  width: 96%;
  background-color: #eee;
  height: 50px;
}
.btn-tweet{
  height: 50px;
  float: right;
  position: relative;
  right: 0;
  /*background: url('../img/icons/forward-arrow.png') no-repeat center;
  background-size: 18px;*/
}
