.title{
  padding-left: 35px;
}
.write{
  border: 0;
  padding-left: 25px;
}
.form-field{
  margin: 0;
}
#newtweet{
  color: #393e41;
  border: 0;
  height: 25px;
  width: 90% !important;
  font-family: 'Open Sans';
  resize: none;
  padding: 15px 20px;
}

#newtweet:focus{
  background: #fff;
  height: 70px;
  transition: .5s all;
}

.tweet-options{
  position: relative;
  width: 96%;
  background-color: #eee;
  height: 50px;
}
.btn-tweet{
  height: 50px;
  float: right;
  position: relative;
  right: 0;
  /*background: url('../img/icons/forward-arrow.png') no-repeat center;
  background-size: 18px;*/
}

.loading{
  width: 91.5%;
  padding: 20px 0px;
  font-size: 15px;
}

.next-match{
  text-align: center;
  line-height: 100px;
}
.next-match span{
  margin: 0px 20px 0px 20px;
  font-size: 18px;
}
.next-match img{
  border-radius: 50px;
  vertical-align: middle;
  width: 80px;
}
.next-match-stats{
  margin: 5px 10px 10px;
  display: block;
  text-align: center;
}
.next-match-stats .names{
  padding: 5px;
  /*background-color: #5FAD56;*/
  height: 20px;
}
.next-match-stats .names span{
  width: 50%;
  float: left;
  font-size: 14px;
}
.next-match-stats .date{
  padding: 5px;
  background-color: #f7f7f7;
  height: 20px;
}
.next-match-stats .match{
  padding: 5px;
}
