/*=============================
Icon
==============================*/
.icon{
	display: block;
	 -moz-box-sizing: border-box;
	box-sizing: border-box;
	width:24px;
	height:24px;
	padding-left: 24px;
	margin-top: 5px;
	float: left;
}
/*=============================
Icons
==============================*/
.clock{
	background: url(../img/icons/clock2.png) no-repeat;
	background-size: 24px;
}
.flag-br{
	background: url(../img/icons/flags/br.png) no-repeat;
	background-size: 24px;
}
