* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
	background-color: #26292B;
	font-family: 'Open Sans', sans-serif;
  color: #26292B;
  font-size: 14px;
  overflow-x: hidden;
}
main{
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
}
.box-content{
  padding: 20px;
  background-color: ;
}
.byte{
  max-width: 600px;
}

input{
  margin: 2px;
}
.box-title{
  border: 0;
}
.logo figure{
  text-align: center;
  padding-bottom: 10px;
}

h3{
  font-weight: 300;
  color: #fcfcfc;
  text-align: center;
  padding-bottom: 20px;
}
button{
  background-color: #5FAD56;
  width: 100%;
  margin-left: 2px;
  padding: 15px 0px;
  border: 0px;
  color: #fff;
}
