.byte {
  margin: 0 auto;
  max-width: 100%;
}
.byte:after {
  content: "";
  display: table;
  clear: both;
}

[class*='bit-'] {
  float: left;
  /*padding: 0.3em; */
}

.bit-1 {
  width: 100%; }

.bit-2 {
  width: 50%; }

.bit-3 {
  width: 33.33333%; }

.bit-4 {
  width: 25%; }

.bit-5 {
  width: 20%; }

.bit-6 {
  width: 16.66667%; }

.bit-7 {
  width: 14.28571%; }

.bit-8 {
  width: 12.5%; }

.bit-9 {
  width: 11.11111%; }

.bit-10 {
  width: 10%; }

.bit-11 {
  width: 9.09091%; }

.bit-12 {
  width: 8.33333%; }

.bit-25 {
  width: 25%; }
.bit-30 {
  width: 30%; }
.bit-40 {
  width: 40%; }
.bit-60 {
  width: 60%; }
.bit-75 {
  width: 75%; }
.bit-70 {
  width: 70%; }
.bit-80{
  width: 80%;
}
.hide-on-large{
  display: none;
}

@media (max-width: 360px) {
  .bit-1 {
    width: 100%; }
  .bit-2 {
    width: 100%; }
  .bit-3 {
    width: 100%; }
  .bit-4 {
    width: 100%; }
  .bit-5 {
    width: 100%; }
  .bit-6 {
    width: 100%; }
  .bit-7 {
    width: 100%; }
  .bit-8 {
    width: 100%; }
  .bit-9 {
    width: 100%; }
  .bit-10 {
    width: 100%; }
  .bit-11 {
    width: 100%; }
  .bit-12 {
    width: 100%; }
  .hide-on-small{
    display: none; }
  .bit-80, .bit-75, .bit-25, .bit-70, .bit-30{
    width: 100%;
  }

  .hide-on-large{
    display: block;
  }
}

@media (min-width: 360px) and (max-width: 600px) {
  .bit-4, .bit-6, .bit-8, .bit-10, .bit-12 {
    width: 50%;
  }
  .bit-1, .bit-2, .bit-3, .bit-5, .bit-7, .bit-9, .bit-11 {
    width: 100%;
  }
  .bit-80, .bit-75, .bit-25, .bit-70, .bit-30{
    width: 100%;
  }
  .hide-on-medium{
    display: none;
  }
  .hide-on-large{
    display: block;
  }
}

@media (min-width: 600px) and (max-width: 825px) {
  .bit-2, .bit-7 {
    width: 100%;
  }
  .bit-4, .bit-8, .bit-10, .bit-12 {
    width: 50%;
  }
  .hide-on-large{
    display: block;
  }
  .bit-80, .bit-75, .bit-25, .bit-70, .bit-30{
    width: 100%;
  }
}


/*.box {
  background: #FCD920;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0; }
.box--new {
  background: #87D37C;
}*/
