body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	background-color: #393e41;
	color: #f4f4f4;
	z-index: 10;
	height: 100vh;
	overflow-y: hidden;
}
header{
	width: 500px;
	height: 10em;
	z-index: 998999;
	position: absolute;
}
header div.logo{
	position: absolute;
	top: 1em;
	left:5%;
}
header div.logo img{
	width: 12.5em;
}
.infobox-wrapper {
    display:block;
}
#infowindow{
	position: relative;
	width: 250px;
	height: 50px;
	/*background: rgba(0,0,0,1);*/
	z-index: -1;
}
#infowindow .logo{
	width: 50px;
	height: 50px;
	border-radius: 100px;
	float: left;
	overflow: hidden;
	z-index: 3;
}
#infowindow .description{
	/*position: absolute;
	right: 0;*/
	max-width: 300px;
	height: 47.5px;
	background-color: #5FAD56;
	margin: 20px 15px;
	 z-index: -1;
	color: #fff;
	font-size: 12px;
	padding-top: 2.5px;
	padding-left: 40px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-top-left-radius: 10px;
	border-bottom-left-radius: 10px;
}
#infowindow .description p{
	margin: 2px;
}
/*=============================
colors
==============================*/
.no-hover:hover{
	background-color: rgba(0,0,0,0);
}
.no-bg{
		background-color: rgba(0,0,0,0);
}
.bg-success{
	background-color: #5FAD56;
}
.bg-warning{
	background-color: #b44230;
}
.bg-alert{
	background-color: #ff9d50;
}
.bg-white{
	background-color: #fff;
}
.black-text{
	color: #333;
}
.white-text{
	color: #f4f4f4;
}
/*=============================
Alerts
==============================*/
.visible{
	display: block !important;
}
.alert{
	z-index: 2;
	display: none;
	width: 100vw;
	padding: 10px;
	font-family: 'Exo 2';
}
.alert p{
	text-align: center;
}
.alert-bottom{
	position: absolute;
	bottom: 0px;
}
.alert-top{
	position: absolute;
	top: 0;
}
.alert-info{
	background-color: #f4f4f4;
	color: #393e41;
}
.alert-warning{
	background-color: #b44230;
	color: #fff;
}
.alert-success{
	background-color: #5fad56;
	color: #fff;
}
.alert-danger{
	background-color: #FF9200;
	color: #393e41;
}
.alert-dark{
	background-color: #393e41;
	color: #f4f4f4;
}
/*=================================
VIDEO
===================================*/
div.video img{
	box-sizing: border-box;
	width: 100%;
	float: left;
}
div.video{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: url('../img/backgrounds/bg1.jpg') no-repeat center center/cover;
}
div.video h3{
	font-weight: 300;
	font-size:4rem;
	padding: 0;
	margin: 0;
}
div.video h4{
	font-weight: 300;
	font-size: 1rem;
}
div.video div.pattern {
    opacity: 0.75;
	filter: "alpha(opacity=40)";
	background: url('../img/login/subtle_carbon.png');
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 2;
}
video{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}
div.cadastro{
	z-index:2;
	width: 100%;
	position: absolute;
	top: 15em;
	left: 50%;
	transform:translateX(-50%);
	text-align: left;
	padding: 0px 1em;
}
div.cadastro h3,div.cadastro h4{
	color: #fff;
	padding-left: 150px;
}

.heart{
	width:64px;
	height:64px;
	padding-left: 48px;
	background: url(../img/icons/emoji/heart2.png) no-repeat;
	background-size:28px;
	background-position: center;
}
.football{
	width:64px;
	height:64px;
	padding-left: 48px;
	background: url(../img/icons/emoji/football.png) no-repeat;
	background-size: 40px;
	background-position: center;
}
/*=================================
Options
===================================*/
header{
	z-index: 9999;
	position: relative;
	top: 0;
	background-color: #222;
	width: 100vw;
	height: 5.5vw;
}
header .btn-login{
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: #5FAD56;
	color: #f4f4f4;
	border: 0;
	font-size: 18px;
	text-align: center;
}
header .btn-login:hover{
	color: #333;
	cursor: pointer;
}
header nav{
	position: absolute;
	right: 220px;
	padding-top: 12.5px;
}
header nav ul{
	font-family: 'Exo 2';
	list-style: none;
}
header nav ul li{
	float: left;
}
header nav ul li a{
	padding: 10px 20px;
	color: #7F7E7E;
	text-decoration: none;
	margin: 5px;
}
header nav ul li a.signup{
	background-color: #333;
	color: #7F7E7E;
	border-radius: 2.5px;
}
header nav ul li a:hover{
	color: #fff;
}

/*=============================
form
==============================*/
.right{
	text-align: right;
}
div.form-field{
	width: 100%;
	max-height:200px;
	margin: 15px 0;
	font-size: 12px;
}
div.form-field label{
	color:#393e41;
	display: block;
	height: 20px;
	width: 100%;
	margin-left: 10px;
}
div.form-field button{
	margin: 0 auto;
	background-color: #5fad56;
	color:#fff;
	display: block;
	height: 50px;
	width: 95%;
	border: 0;
	font-size: 14px;
}
div.form-field button:hover{
	color: #333;
	cursor: pointer;
}
input[type='text'],input[type='password'],input[type='email']{
	width: 87.5%;
	border: 1px solid #ccc;
	padding: 12.5px 15px;
	color: #393e41;
	font-family: 'Exo 2','Open Sans';
	margin: 0 10px;
}
input[type='text']:hover,input[type='password']:hover,input[type='email']:hover{
	background-color: #e4e4e4;
	transition: 0.7s all;
}
input[type='text']:focus,input[type='password']:focus,input[type='email']:focus{
	background-color: #ddd;
	color: #000;
	transition: 0.3s background-color;
	border: 1px solid #ccc;
}
select{
	margin-left: 10px;
	font-family: 'Exo 2','Open Sans';
	padding: 0px 15px;
	width: 95%;
	border: 1px solid #ccc;
	color: #393e41;
	font-size: 14px;
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
option{
	padding: 12.5px 15px;
	width: 100%;
	color: #393e41;
	border: 0;
}
textarea{
	font-family: 'Exo 2','Open Sans';
	color: #393e41;
	padding: 10px;
	border: 1px solid #ccc;
	width: 102.5%;
	resize: vertical;
	font-size: 13px;
}
textarea:focus{
	background-color: #ddd;
	color: #000;
}
/*==========================
DIV LOGIN
============================*/
div.login{
	z-index: 2;
	width: 100vw;
	height: 0;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
	color: #333;
}
 div.login div.form{
	margin: 0 auto;
	margin-top: 75px;
	width: 400px;
	max-height: 400px;
	background-color: #f4f4f4;
	border-radius: 3.5px;
	padding: 0 20px 20px;
}
div.login div.form h1{
  font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	padding: 20px;
	text-align: center;
}
div.login div.form div.form-field a{
	margin-right: 10px;
	color: #333;
	text-decoration: none;
}
/*=============================
signup
================================*/
div.signup{
	background-color: #f7f7f7;
	z-index: 3;
	width: 100vw;
	height: 0;
	overflow: hidden;

	/* Set our transitions up. */
	-webkit-transition: height 0.8s;
	-moz-transition: height 0.8s;
	transition: height 0.8s;
	color: #333;
}
div.signup .grid-65{
	padding: 0;
}
div.signup #map{
	width: 100%;
	height: 88.75vh;
	background-color: #393e41;
}
div.signup h1{
	font-weight: 300;
	margin-left: 7.5px;
}
div.signup h5{
	font-weight: 300;
	margin-left: 10px;
}
