body{
	margin:0;
	padding:0;
	background-color: #5fad56 !important;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	color: #393e41;
}
header{
	position: relative;
	margin-left: 3vw;
}
header figure.logo img{
	width: 250px;
}
header div.form-login{
	max-width: 500px;
	position: absolute;
	top: 1vw;
	right: 6vw;
}
div.grid-container{
	padding: 0 !important;
}
div.container{
	margin-top: 2.5vh;
	width: 90vw;
	height: 80vh;
	background-color: #393e41;
}
div.container div.side{
	margin: 0;
	height: 100%;
}
div.container div.side h2{
	color: #fff;
	text-align: center;
}
div.container div.side p{
	font-family: 'Exo 2';
	padding: 0px 15px;
	text-align: justify;
	color: #fff !important;
}
div.container div.side figure{
	text-align: center;
}
div.container div.side .title,div.container div.side div.form-field{
	padding-left: 20px;
	color: #333;
	text-align: left;
}
#map{
	position: relative;
	width: 92.5%;
	height: 250px;
	background: #333;
	margin-bottom: 5px;
}
/*==========formfield=============*/
div.form-field{
	width: 100%;
	white-space: normal;
	max-height:280px;
	margin: 15px 0;
	font-size: 12px;
}
div.form-field label{
	color:#393e41;
	font-size: 14px;
	font-weight: 800px;
	display: block;
	height: 20px;
	width: 100%;
}
div.form-login input{
	width: 150px !important;
	padding: 7.5px 15px !important;

}
/*========================FORM====================*/
input[type='text'],input[type='password'],input[type='email']{
	width: 87.5%;
	border: 1px solid #ccc;
	padding: 12.5px 15px;
	color: #393e41;
	font-family: 'Exo 2','Open Sans';
}
input[type='text']:hover,input[type='password']:hover,input[type='email']:hover{
	background-color: #e4e4e4;
	transition: 0.7s all;
}
input[type='text']:focus,input[type='password']:focus,input[type='email']:focus{
	background-color: #ddd;
	color: #000;
	transition: 0.3s background-color;
	border: 1px solid #ccc;
}
/*=============================
BUTTONS
==============================*/
.btn{
	padding: 0.45rem 1.5rem;
	cursor:pointer;
	color: #fff;
	background-color: #5fad56;
	border: 0px;
	cursor:pointer;
}
.btn:hover{
	background-color: #333;
	color: #fff;
	transition: .7s all;
}
.btn:active{
	background-color: #fff;
	color: #333;
}
/*=============================
colors
==============================*/
.no-hover:hover{
	background-color: rgba(0,0,0,0);
}
.no-bg{
		background-color: rgba(0,0,0,0);
}
.bg-success{
	background-color: #5fad56;
}
.bg-warning{
	background-color: #b44230;
}
.bg-alert{
	background-color: #ff9d50;
}
.bg-white{
	background-color: #fff;
}
.black-text{
	color: #333;
}
.white-text{
	color: #f4f4f4;
}
.alert-text{
	color: #ff9d50 !important;
}
