body{
	margin:0;
	padding:0;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	color: #393e41;
	z-index: 10;
}
header{
	width: 100%;
	height: 10em;
	z-index: 998;
	position: absolute;
}
header div.logo{
	position: absolute;
	top: 3em;
	left:10%;
}
header div.logo img{
	width: 15em;
}


/*=================================
VIDEO
===================================*/
div.video img{
	box-sizing: border-box;
	width: 100%;
	float: left;
}
div.video{
    position: relative;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
    background: url('../img/backgrounds/bg1.jpg') no-repeat center center/cover;
}
div.video h3{
	font-size:4rem;
	padding: 0;
	margin: 0;
}
div.video h4{
	font-size: 1rem;
}
div.video div.pattern {
    opacity: 0.75;
	filter: "alpha(opacity=40)";
	background: url('../img/login/subtle_carbon.png');
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	z-index: 2;
}
video{
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	z-index: 1;
}
div.cadastro{
	z-index:3;
	width: 100%;
	position: absolute;
	top: 17em;
	left: 50%;
	transform:translateX(-50%);
	text-align: center;
	padding: 0px 1em;
}
div.cadastro h3,div.cadastro h4{
	color: #fff;
}

.heart{
	width:64px;
	height:64px;
	padding-left: 48px;
	background: url(../img/icons/emoji/heart2.png) no-repeat;
	background-size:28px;
	background-position: center;
}
.football{
	width:64px;
	height:64px;
	padding-left: 48px;
	background: url(../img/icons/emoji/football.png) no-repeat;
	background-size: 40px;
	background-position: center;
}
/*=================================
Options
===================================*/
div.options{
	z-index: 9999;
	position: absolute;
	bottom: 0;
	background-color: #222;
	width: 100vw;
	height: 100px
}
div.options .btn-login{
	position: absolute;
	right: 0;
	width: 200px;
	height: 100%;
	background-color: #5FAD56;
	color: #f4f4f4;
	border: 0;
	font-size: 18px;
	text-align: center;
}
div.options .btn-login:hover{
	color: #333;
	cursor: pointer;
}
div.options nav{
	position: absolute;
	padding-top: 25px;
}
div.options nav ul{
	font-family: 'Exo 2';
	list-style: none;
}
div.options nav ul li{
	float: left;
}
div.options nav ul li a{
	padding: 10px 20px;
	color: #7F7E7E;
	text-decoration: none;
}
div.options nav ul li a.signup{
	background-color: #333;
	color: #7F7E7E;
	border-radius: 2.5px;
}
div.options nav ul li a:hover{
	color: #fff;
}
