/**
  HEADER
**/
header{
  position: relative;
  left: 16.66667%;
  width: 83.33333%;
  height: 70px;
  float: left;
  background-color: #fff;
  border-bottom: 1px solid #ebebeb;
  z-index: 1;
}
.menu-mobile{
  position: relative;
  left: 15px;
  top: 25px;
  width: 100px;
  display: none;
  z-index: 3;
}
.menu-mobile:hover{
  cursor: pointer;;
}
.menu-mobile div{
  width: 20px;
  height: 1px;
  background-color: #26292B;
  margin: 5px 0;
  transition: 0.4s;
}
/*rotate bar*/
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 0px) ;
    transform: rotate(-45deg) translate(-9px, 0px) ;
}
/*mid bar puf*/
.change .bar2 {
    opacity: 0;
}
/*rotate bar*/
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, 0px) ;
    transform: rotate(45deg) translate(-8px, 0px) ;
}
/**
  NAVIGATION
**/
.navbar{
  position: fixed;
  height: 100vh;
  left:0;
  background-color: #393E41;
  border-right: 1px solid #ebebeb;
  z-index: 2;
  opacity: 1;
  transition: 0.4s;
}
.navbar.navbar-open{
  opacity: 1;
  transition: 0.5s all;
  display: block;
}
nav ul li a{
  display: block;
  color: #fafafa;
  text-decoration: none;
  padding: 15px 18px 25px;
  /*border-bottom: 1px solid #ebebeb;*/
}
nav ul li i{
  width: 24px;
  height: 24px;
  display: block;
  float: left;
  margin-right: 10px;
  background-size: 24px;
  background-repeat: no-repeat;
}
nav ul li span{
  position: relative;
  top: 5px;
  font-size: 13px;
  font-weight: 300;
  padding-left: 5px;
}
nav ul li a:hover{
  transition: 0.5s all;
  background-color: #26292B;
  cursor: pointer;
}
/** nav icons */
nav ul li i.home{
  background-image: url(../img/icons/home.png) !important;
}
nav ul li i.club{
  background-image: url(../img/icons/club.png) !important;
}
nav ul li i.squad{
  background-image: url(../img/icons/squad.png) !important;
}
nav ul li i.league{
  background-image: url(../img/icons/world-cup.png) !important;
}
nav ul li i.market{
  background-image: url(../img/icons/money.png) !important;
}
nav ul li i.world{
  background-image: url(../img/icons/world.png) !important;
}
nav ul li i.slpro{
  background-image: url(../img/icons/coins.png) !important;
}
nav ul li i.exit{
  background-image: url(../img/icons/exit.png) !important;
}
nav ul li i.admin{
  background-image: url(../img/icons/admin.png) !important;
}
