.player-info{
  padding: 20px;
}
.player-face{
  width: 190px;
  height: 220px;
  background: #283044;
  padding: 10px;
}
.player-body{
  width: 151px;
  height: 200px;
  margin: 0 auto;
  background: url('../img/players/body/1.png');
  background-size: cover;
}
.player-eyes{
  width: 121px;
  height: 20px;
  background: url('../img/players/eyes/1.png');
  background-size: cover;
}
