header{
  height: 55px;
  background-color: #fff;
  /*background-color: #fff;*/
  border-bottom: 1px solid #ebebeb;
  z-index: 9;
}
.sidebar{
  height: 100vh;
  background-color: #393E41;
  overflow-x: hidden;
}
.sidebar div.SL-logo{
    text-align: center;
    height: 54px;
    background-color: #4A7856;
    text-align: center;
    padding-top: 15px;
}
.sidebar div.SL-logo i{
  text-align: center;
  position: relative;
  width: 175px;
  height: 60px;
  display:inline-block;
  margin-top: -7px;
  background: url(../img/logo.png) no-repeat;
  background-size: 100%;
}


.navbar .navbar-item ul.submenu{
  display: none;
}
.navbar .navbar-item ul.menu{
  list-style: none;
}
.navbar .navbar-item ul.menu li{
  width: 100%;
  padding: 2.5px 0 1px;
}
.navbar .navbar-item ul.menu li:hover{
  background-color: #5FAD56;
  cursor: pointer;
  transition: 0.3s all;
}
.navbar .navbar-item ul.menu li i{
  margin-left: 20px;
  display: inline-block;
  background-color: #fff;
  width: 50px;
  height: 50px;
}
.navbar .navbar-item ul.menu li span{
  position: absolute;
  margin-top: 15px;
  margin-left: 22.5px;
  font-size: 14px;
  font-weight: 400;
  font-family: 'Exo 2';
  color: #f7f7f7;
}


/* QUERYS */
@media (min-width: 50em) and (max-width: 68.75em) {
  .navbar .navbar-item ul.menu li span{
    font-size: 12px;
    margin-left: 15px;
  }
  .sidebar div.SL-logo{
    padding-top: 20px;
  }
  .sidebar div.SL-logo i{
    width: 140px;
  }
}
@media (min-width: 30em) and (max-width: 50em) {
  .navbar .navbar-item ul.menu li{
    text-align: center;
  }
  .navbar .navbar-item ul.menu li i{
    margin-left: 0;
  }
  .navbar .navbar-item ul.menu li span{
    display: none;
  }
  .sidebar div.SL-logo{
    display: none;
    padding: 5px;
    background-color: #393E41;
  }
}
@media (max-width: 30em) {
  .navbar .navbar-item ul.menu li{
    text-align: center;
    width: 50%;
    float: left;
    padding: 20px 0;
  }
  .navbar .navbar-item ul.menu li i{
    margin-left: 0;
  }
  .navbar .navbar-item ul.menu li span{
    display: block;
    clear: both;
    margin: 0px;
    position: relative;
    /*color: #333;*/
  }
  body{
    height: 100vh;
    overflow: hidden;
  }
  .sidebar{
    display: block;
    height: 100vh;
    overflow-y: auto;
    background-color: #26292B;
    /*display: none;*/
  }
  .sidebar div.SL-logo{
    display: none;
  }
}

/* icons */
.navbar .navbar-item ul.menu li i.home{
  background: url(../img/icons/home.png) no-repeat center center;
  background-size: 50%;
}
.navbar .navbar-item ul.menu li i.club{
  background: url(../img/icons/club.png) no-repeat center center;
  background-size: 50%;
}
.navbar .navbar-item ul.menu li i.league{
  background: url(../img/icons/league.png) no-repeat center center;
  background-size: 50%;
}
.navbar .navbar-item ul.menu li i.squad{
  background: url(../img/icons/squad.png) no-repeat center center;
  background-size: 50%;
}
