/** LEMONADE **/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', sans-serif;
}

body{
  background-color: #f7f7f7;
}

/* scrollbars */
::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
.box {
  background: #D5B942;
  font-family: "Futura", sans-serif;
  font-size: 14px;
  text-align: center;
  padding: 20px 0;
}
.box--new {
  background: #5FAD56;
}
.content{
  padding: 10px;
}
/** MOBILE */
@media (max-width: 30em) {
  .content{
    padding: 0;
  }
}

@media (min-width: 30em) and (max-width: 50em) {
  .content{
    padding: 5px;
  }
}
