/**
	HTML,BODY AND CONTENT STYLES
*/
body{
	margin:0;
	padding:0;
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
html{
	width: 82.5vw;
	height: 100%;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
div.content{
	position: relative;
	width: 97.5%;
	top:5rem;
	padding: 2rem .5rem;
	color: #333;
	margin-left: 250px;
	overflow: hidden;
  box-sizing: border-box;
}
