/**
	HTML,BODY AND CONTENT STYLES
*/
body{
	margin:0;
	padding:0;
	background-color: #f4f4f4;
	font-family: 'Open Sans', sans-serif;
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}
html{
	width: 82.5vw;
	height: 100%;
	font-size: 62.5%;
	margin: 0;
	padding: 0;
}
div.content{
	position: relative;
	width: 97.5%;
	top:5rem;
	padding: 2rem 0rem;
	color: #333;
	margin-left: 250px;
	overflow: hidden;
  box-sizing: border-box;
}
.logo{
	content:'Upload';
	color: #333;
	width: 200px;
	height: 200px;
	position: relative;
	overflow: hidden;
}
/*=============================
Alerts
==============================*/
.visible{
	display: block !important;
}
.alert{
	z-index: 999;
	display: none;
	width: 100vw;
	padding: 10px;
	font-family: 'Exo 2';
	font-size: 14px;
}
.alert p{
	text-align: center;
}
.alert-bottom{
	position: absolute;
	bottom: 0px;
}
.alert-top{
	position: absolute;
	top: 0;
}
.alert-info{
	background-color: #f4f4f4;
	color: #393e41;
}
.alert-warning{
	background-color: #b44230;
	color: #fff;
}
.alert-success{
	background-color: #5fad56;
	color: #fff;
}
.alert-danger{
	background-color: #FF9200;
	color: #393e41;
}
.alert-dark{
	background-color: #393e41;
	color: #f4f4f4;
}
/*=============================
Markers
==============================*/
span.pro-marker{
	border-radius: 2.5px;
  background-color: #D5B942;
  color: #393e41;
  padding: 1px 5px;
}
/*=============================
Scroll menu bar
==============================*/
div.menu-sidebar::-webkit-scrollbar-track {
    background-color: #F4F4F4;
}
div.menu-sidebar::-webkit-scrollbar {
    width: 6px;
    background: #F4F4F4;
}
div.menu-sidebar::-webkit-scrollbar-thumb {
    background: #dad7d7;
}
/*=============================
SELECIONAR TEXTO
==============================*/
/*::selection {
  background: #BADA55;
  color: white;
}
::-moz-selection {
	padding: 5px;
    color: #fff;
    background:#5FAD56;
}*/
/*=============================
Font-size
==============================*/
.letter-small{
	font-size: 11px;
}
/*=============================
Links
==============================*/
.padding-left{
	padding-left: 10px !important;
}
.padding-top{
	padding-top: 20px;
}
.padding-bottom{
	padding-bottom: 10px;
}
/*=============================
Links
==============================*/
a{
	font-size: 14px;
	color: #dd6e42;
}
/*=============================
Aligns
==============================*/
.center{
	text-align: center;
}
.left{
	text-align: left;
}
.right{
	text-align: right;
}
.justify{
	text-align: justify;
}
/*=============================
Paragraphs
==============================*/
p{
	padding: .5px;
}
/*=============================
Heading
==============================*/
.title{
	padding-left: 20px;
	font-family: 'Open Sans';
}
h1{
	font-size: 32px;
}
h2{
	font-size: 26px;
}
h3{
	font-size: 20px;
}
h4{
	font-size: 14px;
}
h5{
	font-size: 12px;
}
h6{
	font-size: 10px;
}
/*=============================
BUTTONS
==============================*/
.btn,.btn-medium,.btn-small,.btn-large{
	color: #fff;
	background-color: #393e41;
	border: 0px;
	cursor:pointer;
}
.btn{
	padding: 1.25rem 3rem;
	cursor:pointer;
}
.btn-large{
	padding: 1.25rem 10rem;
	cursor:pointer;
}
.btn-medium{
	padding: 1.25rem 5rem;
	cursor:pointer;
}
.btn-small{
	padding: 1.25rem 1rem;
	cursor:pointer;
}
.btn-border{
	border-radius: 3.5px;
	cursor:pointer;
}
.btn:hover,.btn-medium:hover,.btn-small:hover,.btn-large:hover{
	background-color: #393e41;
	transition: .7s all;
}
.btn:active,.btn-medium:active,.btn-small:active,.btn-large:active{
	background-color: #fff;
	color: #333;
}
.btn-disabled{
	background-color: #ccc !important;
	color: #333 !important;
}
/*=============================
colors
==============================*/
.no-hover:hover{
	background-color: rgba(0,0,0,0);
}
.no-bg{
		background-color: rgba(0,0,0,0);
}
.bg-success{
	background-color: #5FAD56;
}
.bg-warning{
	background-color: #b44230;
}
.bg-alert{
	background-color: #ff9d50;
}
.bg-white{
	background-color: #fff;
}
.black-text{
	color: #333;
}
.white-text{
	color: #f4f4f4;
}
/*=============================
Tables
==============================*/
table{
	border-spacing: 0px;
  border-collapse: collapse;
	position: relative;
	width: 100%;
	font-size: 13px;
	font-family: 'Exo 2', 'Open Sans';
}
table caption{
	width: 100%;
	padding: 1rem 0;
	background-color: #5FAD56;
	color: #fff;
	font-size: 14px;
}
table thead{
	border-bottom: 1px solid #fff;
	background-color: #fff;
}
table thead th{
	text-align: center;
	color: #fff;
	background-color: #393e41;
	padding: 10px;
	font-size: 13px;
}
table tbody tr{
	color: #000;
	background-color: #f4f4f4;
	font-size: 11px;
}
table tbody tr:hover{
	color: #333;
	background-color: #ccc !Important;
	transition: 0.7s all;
}
table.zebra tbody tr:nth-child(2n+1) {
	background-color:#e4e4e4;
}
table.bordered tbody tr{
	border-bottom: 1px solid #ccc;
}
table tbody tr td{
	border-right: 1px;
	padding: 10px 10px;
}
table tbody tr td.border{
	border-right: 1px solid #fff;
}
table tbody tr td.center{
	text-align: center;
}
table tbody tr td.promotion{
	background-color: #16C716 !important;
}
table tbody tr td.relegation{
	background-color: #AA0000 !important;
}
table tbody tr td.playoff-relegation{
	background-color: #F91B1B !important;
}
table tbody tr td.playoff-promotion{
	background-color: #008800 !important;
}
table tbody tr.selected{
	/*background-color: #d5b942 !important;
	color: #333;*/
	font-weight: 800;
	font-size: 13px;
}
/*=============================
BOXES
==============================*/
.box{
	width: 100%;
	min-height: 100px;
	margin: 0.5rem 0;
}
.box-title{
	padding: 1rem 3rem;
	background-color: #5FAD56;
	font-size: 16px;
	color: #fff;
	text-align: left;
	font-family: 'Open Sans';
}
.box-content{
	position: relative;
	min-height:20px;
	text-align: left;
	padding: 0px;
	font-size: 12.5px;
	border: 1px solid #ddd;
}

.box-content p{
	padding-left: 30px;
}

/*=============================
form
==============================*/
div.form-field{
	width: 100%;
	white-space: normal;
	max-height:200px;
	margin: 15px 0;
	font-family: 'Open Sans';
	font-size: 12px;
}
div.form-field label{
	color:#393e41;
	font-size: 13px;
	font-weight: 800;
	display: block;
	height: 20px;
	width: 100%;
}
input[type='text'],input[type='password'],input[type='email']{
	width: 90%;
	border: 1px solid #ccc;
	padding: 12.5px 15px;
	color: #393e41;
	font-family: 'Exo 2','Open Sans';
}
input[type='text']:hover,input[type='password']:hover,input[type='email']:hover{
	background-color: #e4e4e4;
	transition: 0.7s all;
}
input[type='text']:focus,input[type='password']:focus,input[type='email']:focus{
	background-color: #ddd;
	color: #000;
	transition: 0.3s background-color;
	border: 1px solid #ccc;
}
select{
	font-family: 'Exo 2','Open Sans';
	padding: 0px 15px;
	width: 93%;
	border: 1px solid #ccc;
	color: #393e41;
	font-size: 14px;
	appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}
option{
	padding: 12.5px 15px;
	width: 100%;
	color: #393e41;
}
textarea{
	font-family: 'Exo 2','Open Sans';
	color: #393e41;
	padding: 10px;
	border: 1px solid #ccc;
	width: 93%;
	resize: vertical;
	font-size: 13px;
}
textarea:focus{
	background-color: #ddd;
	color: #000;
}
