
.tweet-options{
  position: relative;
  width: 96%;
  background-color: #eee;
}
.tweet .tweet-options{
  display: none;
}
.tweet{
  width: 100%;
  margin-bottom: 5px;
}
.tweet-content{
  font-family: 'Open Sans';
  position: relative;
  width: 93%;
  padding: 10px;
  min-height: 75px;
  max-height: 500px;
  background-color:#fff;
  cursor: pointer;
}
.tweet-content .club-logo{
  float: left;
  position: relative;
  width: 75px;
  height: 75px;
}
.tweet2{
  position: relative;
  float: left;
  width: 87.5%;
}
.tweet-content .tweet-info{
  font-size: 14px;
  padding-left: 10px;
  font-weight: 700;
}
.tweet-content .tweet-info .date{
  font-size: 13px;
  color: #808080;
  font-weight: 400;
}
.tweet-content .tweet-info .club-user{
  font-size: 12px;
  color: #808080;
  font-weight: 400;
}
.tweet-content .tweet-text{
  font-size: 13px;
  padding-left: 10px;
  padding-top: 2.5px;
  color: #808080;
}
.tweet:hover > .tweet-options{
  display: block;
}
.btn-tweet span{
  display: block;
  box-sizing: border-box;
  width:2rem;
  height:2rem;
  padding-left: 2rem;
  float: left;
}
.btn-tweet span.reply{
  background: url(../img/icons/forward-arrow.png) no-repeat;
	background-size: 20px;
}
.btn-tweet span.like{
  background: url(../img/icons/like.png) no-repeat;
	background-size: 20px;
}
.btn-tweet span.retweet{
  background: url(../img/icons/retweet.png) no-repeat;
	background-size: 20px;
}
.btn-tweet span.delete{
  background: url(../img/icons/delete.png) no-repeat;
	background-size: 20px;
}
