
.tweet-options{
  position: relative;
  width: 96%;
  background-color: #fff;
}
.tweet .tweet-options{
  display: none;
}
.tweet{
  width: 100%;
  margin-bottom: 2px;
}
.tweet-content{
  font-family: 'Open Sans';
  position: relative;
  width: 93%;
  padding: 10px;
  min-height: 75px;
  max-height: 600px;
  background-color:#fff;
  cursor: pointer;
}
.tweet-content .club-logo{
  float: left;
  position: relative;
  width: 75px;
  height: 75px;
}
.tweet2{
  position: relative;
  float: left;
  width: 87.5%;
}
.tweet-content .tweet-info{
  font-size: 14px;
  padding-left: 10px;
  font-weight: 700;
}
.tweet-content .tweet-info .date{
  font-size: 13px;
  color: #808080;
  font-weight: 400;
}
.tweet-content .tweet-info .action{
  font-size: 13px;
  color: #808080;
  font-weight: 400;
}
.tweet-content .tweet-text{
  position: relative;
  font-size: 13px;
  padding-left: 10px;
  padding-top: 2.5px;
  color: #808080;
}
.tweet-stats{
  position: relative;
  top: -4px;
  left: -50px;
}
.tweet-stats ul{
  position: relative;
  bottom: 0;
  list-style: none;
}
.tweet-stats ul li{
  float: left;
  padding: 0 20px;
}
.tweet-stats ul li span{
  float: left;
  padding: 0 5px;
  background-size: 14px !important;
}
.tweet:hover > .tweet-options{
  display: block;
}
.btn-tweet span{
  display: block;
  box-sizing: border-box;
  width:20px;
  height:20px;
  padding: 0 12.5px;
  float: left;
}
span.load{
  background: url(../img/icons/loading.png) no-repeat;
  background-size: 20px;
}
span.reply{
  background: url(../img/icons/forward-arrow.png) no-repeat;
	background-size: 20px;
}
span.arrow{
  background: url(../img/icons/arrow.png) no-repeat;
	background-size: 20px;
}
span.like{
  background: url(../img/icons/like.png) no-repeat;
	background-size: 20px;
}
span.like2{
  background: url(../img/icons/like2.png) no-repeat;
	background-size: 20px;
}
span.retweet{
  background: url(../img/icons/retweet.png) no-repeat;
	background-size: 20px;
}
span.retweet2{
  background: url(../img/icons/retweet2.png) no-repeat;
	background-size: 20px;
}
span.delete{
  background: url(../img/icons/delete.png) no-repeat;
	background-size: 20px;
}
/*[id='toggle-heart'] {
  position: absolute;
  left: -100vw;
}
[id='toggle-heart']:checked + label {
      color: #e2264d;
      animation: heart 1s cubic-bezier(.17, .89, .32, 1.49);
  }

[for='toggle-heart'] {
    align-self: center;
    color: #aab8c2;
    font-size: 2em;
    cursor: pointer;
}
*/





.modal-tweet .tweet{
  min-height: 200px;
  text-align: left;
}
.modal-tweet .tweet .tweet-options{
  background: rgba(0,0,0,0);
    position: relative;
    top: 20px;
    display: block;
}
.modal-tweet .tweet .club-logo{
  width: 150px;
  height: 150px;
  border: 1px solid #ddd;
}
.modal-tweet .tweet .tweet-content{
  font-family: 'Open Sans';
  position: relative;
  width: 97.5%;
  padding: 10px;
  min-height: 75px;
  max-height: 600px;
  background-color:#fff;
  cursor: pointer;
}

.modal-tweet .tweet .tweet2{
  position: relative;
  float: left;
  width: 75%;
}

.modal-tweet .replyt{
  text-align: left;
  background-color: #f4f4f4;
}
.modal-tweet .replyt .club-logo{
  padding-left: 20px;
}
.modal-tweet .replyt .tweet-content .tweet2{
  background-color: #f4f4f4;
  width: 80%;
}
.modal-tweet .replyt .tweet-options{
  background: #f4f4f4;
  width: 100%;
}
.modal-tweet .replyt .tweet-content{
  background: #f4f4f4;
}
.modal-tweet .replytt{
  width: 100%;
}
.modal-tweet .replytt input{
  width: 85%;
}
.modal-tweet .replytt button{
  float: right;
}
.modal-tweet .replytt .btn-tweet{
  height: auto;
}
