header{
	width: 100%;
	height: 10em;
	z-index: 998;
	position: absolute;
}
header div.logo{
	position: absolute;
	top: 3em;
	left:10%;
}
header div.logo img{
	width: 15em;
}
header ul.menu{
	list-style: none;
	position: absolute;
	right: 10%;
	top: 50px;
}
header ul.menu li{
	float: left;
	padding: 0px 1em;
	color: #fff;
}
input[type="text"], input[type='password']{
	width: 220px;
	height: 32.5px;
	background-color: #e9e7d6;
	border-radius: 1px;
	border:0px;
	padding-left: 5px;
}
header div.menu-responsive{
	position: absolute;
	width: 32px;
	height: 32px;
	right: 10%;
	top: 3.5em;
	display: none;
	background: url(../../img/icons/responsive-menu.png) no-repeat;
	background-size: 24px;
}

.btn-login{
	margin-top: 1rem;
	border: 1px solid white;
	border-radius: 5px;
	padding: 0.75em 1.5em;
}
.btn-login:hover{
	cursor: pointer;
	background-color: rgba(255,255,255,0.2);
	transition: 0.3s all;
	color: #fff;
}

.scroll{
	transition:0.3s all;
	height: 6em;
	position: fixed;
	background: #4a7856;
}
header.scroll ul.menu{
	list-style: none;
	position: absolute;
	right: 10%;
	top: 20px;
}
header.scroll div.logo img{
	width: 12.5em;
}
header.scroll div.logo{
	position: absolute;
	top:1.5em;
	left:10%;
}

a.scroll{
	background-color: #fff !important;
	color: #b44230;
}

header.scroll div.menu-responsive{
	position: absolute;
	width: 32px;
	height: 32px;
	right: 10%;
	top: 2.15em;
	background: url(../../img/icons/responsive-menu.png) no-repeat;
	background-size: 24px;
}

header.scroll div.logo img{
	padding-top:0em;
}

@media(max-width: 900px){
	/*header ul.menu{
		display: none;
	}

	header div.menu-responsive{
		display: block;
	}*/
	header div.logo img{
		padding-top: 0.75em;
		width:7.5em;
	}
	header.scroll div.logo img{
		padding-top: 0.75em;
		width:7.5em;
	}
	header div.logo{
		position: absolute;
		top: 3em;
		left:10%;
	}
}
